
# server
backend/.env
backend/node_modules
backend/package-lock.json
backend/yarn.lock

# client
app/node_modules/
app/.expo/
app/dist/
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/

node_modules/

# macOS
.DS_Store